.navbar {
  background-color: transparent;
}

#welcome {
  height: 100vh;
  background-image: url('../img/losangeles.jpg');
  background-attachment: fixed;
  background-position: 50% 50%;
}

#about {
  height: 100vh;
  background-color: black;
}

#portfolio {
  height: 100vh;
  background-color: #383838;
}

#contact {
  height: 100vh;
  background-color: #555555;
}
