body {
  font-family: 'Unica One', 'Helvetica', sans-serif;
  color: #E7E7E7;
}

.navbar {
  background-color: transparent;
  border: none;
}
.nav {
  font-size: 1.5em;
}
.navbar-brand {
  font-size: 1.5em;
}

#welcome {
  height: 100vh;
  background-image: url('../img/losangeles.jpg');
  background-attachment: fixed;
  background-position: 50% 0%;
}
#welcome p {
  font-size: 1.5em;
}

#about {
  min-height: 100vh;
  background-color: black;
}
#about p {
  font-family: 'Open Sans';
  font-size: 1.3em;
  font-weight: 100;
  line-height: 200%;
  margin-top: 5%;
}

#portfolio {
  min-height: 100vh;
  background-color: #1D1D1D;
  padding-bottom: 10%;
}
.proj {
  margin-top: 5%;
  /* border: 1px solid red; */
}
.proj p {
  font-family: 'Open Sans';
  font-size: 1.3em;
  margin-top: 5%;
  /* border: 4px solid green; */
}
.proj img {
  /* border: 4px solid green; */
  width: 100%;
  max-width: 256px;
  filter: grayscale(100%) opacity(70%);
}
.proj img:hover {
  filter: grayscale(0%) opacity(100%);
  /* filter: grayscale(100%) opacity(15%); */
}

#contact {
  height: 100vh;
  background-color: #282828;
}
.contact-name {
  font-size: 4em;
  margin-top: 17%;
}
.contact-icons {
  padding-top: 5%;
}
.contact-icon {
  color: #E7E7E7;
  padding: 0 20px 0 20px;
}
.contact-icon:hover {
  color: #777777;
}

footer {
  background-color: transparent;
  color: #777777;
  padding-left: 1em;
}
