body {
  font-family: 'Unica One', cursive;
  color: #E7E7E7;
}

.navbar {
  background-color: transparent;
  border: none;
}
.nav {
  font-size: 1.5em;
}
.navbar-brand {
  font-size: 1.5em;
}

#welcome {
  height: 100vh;
  background-image: url('../img/losangeles.jpg');
  background-attachment: fixed;
  background-position: 50% 50%;
}
#welcome p {
  font-size: 1.5em;
}

#about {
  height: 100vh;
  background-color: black;
}
#about p {
  font-family: 'Open Sans';
  font-size: 1.2em;
  font-weight: 100;
  line-height: 200%;
  margin-top: 5%;
}

#portfolio {
  height: 100vh;
  background-color: #1D1D1D;
}

#contact {
  height: 100vh;
  background-color: #282828;
}
.contact-name {
  font-size: 4em;
  margin-top: 17%;
}
.contact-icons {
  padding-top: 5%;
}
.contact-icon {
  color: #E7E7E7;
  padding: 0 20px 0 20px;
}
